.footer {
  height: 67px;
  background: rgba(32, 86, 145, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  p {
    font-size: 12px;
    text-align: center;
    color: #111;
  }
}
